<header class="navbar">
  <span class="logo">Angular POC</span>
  <nav>
    <div class="d-inline-block position-relative">
      <a (click)="toggleProfileMenu()" class="profile-link" style="cursor:pointer;">
        Profile <i class="bi bi-person-circle"></i>
      </a>
      @if (showProfileMenu) {
      <div class="dropdown-menu show position-absolute end-0 mt-2" style="min-width: 180px;">
        <a style="color: black;" href="/home">My Account</a>
        <div class="dropdown-divider"></div>
        <a style="color: black; cursor: pointer;" (click)="logout()">Logout</a>
      </div>
      }

    </div>

  </nav>
</header>